body {
    width: 1110px;
    height: 629px;
    background-color: #EEF9BF;
    align-items: center;
}

.titulo {
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 56px;
    color: #75B79E;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 47px;

}

.deck {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 17px;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

.revelarCarta {
    transform: rotateY(180deg);
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    position: absolute;
    display: flex;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    padding: 20px 10px;
    box-sizing: border-box;
    border-radius: 5px; 
}
.face img {
    width: 100%;
}

.front {
    background-color: #A7E9AF;
}

.back {
  
     transform: rotateY(180deg);
     background-color: #A7E9AF;
}

    @media (max-width: 629px) {
        body { width: 100%;}
    }

    